@import '../../index.scss';

@keyframes rotate-caret-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-caret-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-caret-up {
  animation: rotate-caret-up 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.rotate-caret-down {
  animation: rotate-caret-down 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.#{$prefix}select {
  position: relative;
  width: max-content;
}

.#{$prefix}select-trigger {
  all: unset;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc($f-spacing-5 * 1px);
  white-space: nowrap;
  color: $f-color-primary-light;
  font:
    calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
    sans-serif;
  background-color: $f-color-bg-light;
  padding: 5px calc($f-spacing-7 * 1px);
  border: 2px solid $f-color-primary-light;
  border-radius: calc($f-border-soft-corner * 1px);
  min-width: 60px;

  .focus-grow {
    background-color: $f-color-primary-light;
  }

  span.ripple {
    background-color: $f-color-primary-light;
  }
}

.#{$prefix}select-trigger:hover {
  cursor: pointer;
  color: $f-color-primary-light-hover;
  background-color: rgb(0, 77, 64, 0.1);
  border: 2px solid $f-color-primary-light-hover;
}

.#{$prefix}select-options {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  margin-top: calc($f-spacing-4 * 1px);
  background-color: $f-color-bg-light;
  min-width: 60px;
}

.#{$prefix}closed {
  visibility: hidden;
}

.#{$prefix}select-item-radio {
  appearance: none;
  cursor: pointer;
}

.#{$prefix}select-item-label {
  cursor: pointer;
}

.#{$prefix}select-item-single {
  border: 2px solid $f-color-primary-light;
  border-radius: calc($f-border-soft-corner * 1px);

  position: relative;
  overflow: hidden;
  color: $f-color-primary-light;
  font:
    calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
    sans-serif;
  background-color: $f-color-bg-light;
  padding: 5px calc($f-spacing-7 * 1px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.#{$prefix}select-item-single:hover {
  cursor: pointer;
  color: $f-color-primary-light-hover;
  background-color: rgb(0, 77, 64, 0.1);
}

.#{$prefix}select-item:first-of-type {
  border-width: 2px 2px 0px 2px;
  border-color: $f-color-primary-light;
  border-style: solid;
  border-radius: calc($f-border-soft-corner * 1px)
    calc($f-border-soft-corner * 1px) 0px 0px;
}

.#{$prefix}select-item {
  border-width: 0px 2px 0px 2px;
  border-color: $f-color-primary-light;
  border-style: solid;

  position: relative;
  overflow: hidden;
  color: $f-color-primary-light;
  font:
    calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
    sans-serif;
  background-color: $f-color-bg-light;
  padding: 5px calc($f-spacing-7 * 1px);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.#{$prefix}select-item:hover {
  cursor: pointer;
  color: $f-color-primary-light-hover;
  background-color: rgb(0, 77, 64, 0.1);
}

.#{$prefix}select-item-selected {
  color: $f-color-primary-light-hover;
  background-color: rgb(0, 77, 64, 0.1);

  .focus-grow {
    background-color: $f-color-primary-light;
  }

  span.ripple {
    background-color: $f-color-primary-light;
  }
}

.#{$prefix}select-item:last-of-type {
  border-width: 0px 2px 2px 2px;
  border-color: $f-color-primary-light;
  border-style: solid;
  border-radius: 0px 0px calc($f-border-soft-corner * 1px)
    calc($f-border-soft-corner * 1px);
}

// dark mode styles
.#{$prefix}dark-mode {
  .#{$prefix}select-trigger {
    color: $f-color-primary-dark;
    font:
      calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
      sans-serif;
    background-color: $f-color-bg-dark;
    border: 2px solid $f-color-primary-dark;

    .focus-grow {
      background-color: $f-color-primary-dark;
    }

    span.ripple {
      background-color: $f-color-primary-dark;
    }
  }

  .#{$prefix}select-trigger:hover {
    color: $f-color-primary-dark-hover;
    background-color: rgb(100, 255, 218, 0.1);
    border: 2px solid $f-color-primary-dark-hover;
  }

  .#{$prefix}select-options {
    background-color: $f-color-bg-dark;
  }

  .#{$prefix}select-item-single {
    border: 2px solid $f-color-primary-dark;

    color: $f-color-primary-dark;
    background-color: $f-color-bg-dark;
  }

  .#{$prefix}select-item-single:hover {
    color: $f-color-primary-dark-hover;
    background-color: rgb(100, 255, 218, 0.1);
  }

  .#{$prefix}select-item:first-of-type {
    border-color: $f-color-primary-dark;
  }

  .#{$prefix}select-item {
    border-color: $f-color-primary-dark;
    color: $f-color-primary-dark;
    background-color: $f-color-bg-dark;
  }

  .#{$prefix}select-item:hover {
    color: $f-color-primary-dark-hover;
    background-color: rgb(100, 255, 218, 0.1);
  }

  .#{$prefix}select-item-selected {
    color: $f-color-primary-dark-hover;
    background-color: rgb(100, 255, 218, 0.1);

    .focus-grow {
      background-color: $f-color-primary-dark;
    }

    span.ripple {
      background-color: $f-color-primary-dark;
    }
  }

  .#{$prefix}select-item:last-of-type {
    border-color: $f-color-primary-dark;
  }
}
