@import '../../../../index.scss';

.#{$prefix}button-secondary {
  color: $f-color-primary-light;
  font:
    calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
    sans-serif;
  background-color: $f-color-bg-light;
  padding: 5px calc($f-spacing-7 * 1px);
  border-radius: calc($f-spacing-7 * 1px);
  box-shadow: 0px 0px 0px 2px $f-color-primary-light inset;

  .focus-grow {
    background-color: $f-color-primary-light;
  }

  span.ripple {
    background-color: $f-color-primary-light;
  }
}

.#{$prefix}button-secondary:hover {
  cursor: pointer;
  color: $f-color-primary-light-hover;
  background-color: rgb(0, 77, 64, 0.1);
  box-shadow: 0px 0px 0px 2px $f-color-primary-light-hover inset;
}

.#{$prefix}button-secondary:disabled {
  color: $f-color-disabled-light;
  background-color: $f-color-bg-light;
  box-shadow: 0px 0px 0px 2px $f-color-disabled-light inset;
}

// dark mode styles
.#{$prefix}dark-mode .#{$prefix}button-secondary {
  color: $f-color-primary-dark;
  font:
    calc($f-typography-fs-h6 * 1px) $f-typography-font-primary,
    sans-serif;
  background-color: $f-color-bg-dark;
  padding: 5px calc($f-spacing-7 * 1px);
  border-radius: calc($f-spacing-7 * 1px);
  box-shadow: 0px 0px 0px 2px $f-color-primary-dark inset;

  .focus-grow {
    background-color: $f-color-primary-dark;
  }

  span.ripple {
    background-color: $f-color-primary-dark;
  }
}

.#{$prefix}dark-mode .#{$prefix}button-secondary:hover {
  color: $f-color-primary-dark-hover;
  background-color: rgb(100, 255, 218, 0.1);
  box-shadow: 0px 0px 0px 2px $f-color-primary-dark-hover inset;
}

.#{$prefix}dark-mode .#{$prefix}button-secondary:disabled {
  cursor: default;
  color: $f-color-font-disabled;
  background-color: $f-color-bg-dark;
  box-shadow: 0px 0px 0px 2px $f-color-font-disabled inset;
}
