@import '../../index.scss';

.#{$prefix}typography-h1 {
  font:
    calc(#{var(--f-typography-fs-h1)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-h2 {
  font:
    calc(#{var(--f-typography-fs-h2)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-h3 {
  font:
    calc(#{var(--f-typography-fs-h3)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-h4 {
  font:
    calc(#{var(--f-typography-fs-h4)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-h5 {
  font:
    calc(#{var(--f-typography-fs-h5)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-h6 {
  font:
    calc(#{var(--f-typography-fs-h6)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-body {
  font:
    calc(#{var(--f-typography-fs-p)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}

.#{$prefix}typography-caption {
  font:
    calc(#{var(--f-typography-fs-caption)} * 1px)
      '#{var(--f-typography-font-primary)}',
    sans-serif;
}
