@import '../../index.scss';

$drawer-padding: 2.5rem;
$drawer-width: 25vw;

@keyframes drawer-open-left {
  from {
    transform: translateX(-#{$drawer-width});
  }

  to {
    transform: translateX(0);
  }
}

.#{$prefix}drawer {
  position: absolute;
  top: 0;
  background-color: $f-color-bg-light;
  border: none;
  padding: 0;
  width: $drawer-width;
  height: 100%;
  max-height: 100%;

  @media screen and (max-width: 1000px) {
    width: 100%;
    max-width: 100%;
  }

  @media (prefers-reduced-motion) {
    animation: none!important;
  }

  &::backdrop {
    background: $f-color-overlay-background;
  }

  .#{$prefix}drawer-top {
    width: 100%;
    height: calc($drawer-padding - 1rem);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $f-color-bg-light;
    padding: 10px;
  }

  .#{$prefix}drawer-content {
    padding: 1rem $drawer-padding calc($drawer-padding - 0.5rem) $drawer-padding;
  }
}

.#{$prefix}drawer-left {
  left: 0;

  &[open] {
    animation: 0.5s ease 0s drawer-open-left;
  }
}

.#{$prefix}drawer-right {
  left: auto;
  right: 0;
}

.#{$prefix}dark-mode .#{$prefix}drawer {
  background-color: $f-color-inverse-dark;

  .#{$prefix}drawer-top {
    background-color: $f-color-inverse-dark;
  }
}
