@import '../../index.scss';

.#{$prefix}flex {
    display: flex;
}

// direction classes
.#{$prefix}flex-col {
    flex-direction: column;
}

.#{$prefix}flex-col-reverse {
    flex-direction: column-reverse;
}

.#{$prefix}flex-row {
    flex-direction: row;
}

.#{$prefix}flex-row-reverse {
    flex-direction: row-reverse;
}

// justify-content classes
.#{$prefix}flex-jc-start {
    justify-content: start;
}

.#{$prefix}flex-jc-center {
    justify-content: center;
}

.#{$prefix}flex-jc-space-between {
    justify-content: space-between;
}

.#{$prefix}flex-jc-space-around {
    justify-content: space-around;
}

.#{$prefix}flex-jc-space-evenly {
    justify-content: space-evenly;
}

// align-items classes
.#{$prefix}flex-ai-stretch {
    align-items: stretch;
}

.#{$prefix}flex-ai-center {
    align-items: center;
}

.#{$prefix}flex-ai-start {
    align-items: flex-start;
}

.#{$prefix}flex-ai-end {
    align-items: flex-end;
}

// todo - gap classes, correspond to spacing tokens in rem