@import '../../index.scss';

$modal-padding: 2.5rem;

.f-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $f-color-bg-light;
  min-width: 450px;
  min-height: 150px;
  max-height: 75vh;
  border: none;
  padding: 0;
  border-radius: calc($f-border-rounded * 1px);
  overflow: hidden;

  @media screen and (max-width: 800px) {
    position: fixed;
    top: initial;
    bottom: 0;
    left: 0;
    transform: none;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    min-width: fill-available;
    height: auto;
    border-radius: calc($f-border-rounded * 1px) calc($f-border-rounded * 1px) 0
      0;
  }
}

.f-modal-content {
  padding: 0 $modal-padding calc($modal-padding - 0.5rem) $modal-padding;
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: inherit;

  @media screen and (max-width: 800px) {
    padding-bottom: 3.5rem;
  }
}

.f-modal::backdrop {
  background: $f-color-overlay-background;
}

.f-modal-top {
  width: 100%;
  height: calc($modal-padding - 1rem);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $f-color-bg-light;
  padding: 10px;
}

.#{$prefix}dark-mode .f-modal {
  background-color: $f-color-inverse-dark;

  .f-modal-top {
    background-color: $f-color-inverse-dark;
  }
}
